/* You can add global styles to this file, and also import other style files */

.dynamic-image{
    color: aqua;
    width: 100px;
    height: 100px;
    padding: 10,10,10,10;
    content: url(../src/assets/image/1.jpg)
}